/*
Designer: Ju Hong Kim
Date Created: 2013-12-18
Last Edited: 2013-12-31
Comments: layout design does not support any resolution lower than 1024x768
*/

#header {
	float: center;
	background: url('images/banner3.jpg') 0 0 no-repeat;
	background-position:center; 
	width: 80%;
	height: 19%;
	margin-left: 10%;
	margin-right: 0%;
	border: 0%;
        border-radius: 10px;
}
#nav {
	margin-top: 0.1%;
	background-color: #FF8400;
	color: #D4D4D4;
	margin-left: auto;
	margin-right: auto;
	width: 89%;
	position: relative;
        font-size: 100%;	
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 20px;	
	border: 0%;
        border-radius: 8px;
}

#main { 
        border-radius: 20px;
        margin-top: 0.5%;
	position: relative;
	float: right;
        margin-right: 5.5%;
        background-color: grey;
	border: 1% solid;
        width: 68%;
        padding: 1% 1% 1% 1%; //top, right, bottom, left
        min-height: 60%; //Firefox does not support if there is no height
         
	text-family: gerogia;
}

#sidebar {
	margin-top: 0.5%;
        position: relative;
	float: left;
	margin-left: 5.5%;
	width: 18%;
        padding: 0% 0% 0.1% 0.5%; //top, right, bottom, left
        min-height: 60%;
        background-color: #C34C4C;
	border: 1px;
	border-radius: 10px;
}

#footer {	
        clear: both;
	margin-top: 5%;
	width: 90%;
	margin-left: 5%;
	border: 1px;
	border-radius: 5px;
        background-color: #A81D1D;
        color: #FFF;
        padding: 0.5% 0% 0.5% 0%;
	font-family: georgia;
	text-align: center;
	font-weight: bold;
	border: 0%;
        border-radius: 10px;
}

#error {
        color: #8E0404;
        font-weight: bold;
}

#img {
       margin: 10px;
       //display: inline;
       //padding-right: 5%;
       //float: left;
       height: 80%;
       width: 80%;
}
/*
img {
       margin: 5px;
}*/

input {
        background-color: #f2f2f2;
        border: 0px solid #bdbdbd;
        border-radius: 7px; //to make corners more smooth and circular
        width: 100%;
}

legend {
        border: px solid;
        border-radius: 10px;
}

table {
       border: 1px solid;
}

th {
      border: 1px solid;
}
												