/*
Creator: Ju Hong Kim
Date Created (Date of Publication): 2013-12-31
Last Edited: 2013-12-31
Comments: Layout does not support any resolution 1024 x 768 and lower
*/
#header {
	//float: center;
        margin-left: 10%;
	background: url('/images/curve1.png') 0 0 no-repeat;
	width: 80%;
	height: 19%;
        border-radius: 10px;
}

#nav {
	margin-top: -0.2%;
	background-color: #FF8400;
	color: #D4D4D4;
	margin-left: auto;
	margin-right: auto;
	width: 89%;
	position: relative;
        font-size: 110%;	
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 20px;	
	border: 0%;
        border-radius: 8px;
}

#main { 
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        border-radius: 20px;
        background-color: grey;
        float: right;
        margin-right: 7%;
        width: 68%;
        height: 110%;
}

#sidebar {
	margin-top: 0.5%;
        position: relative;
	float: left;
	margin-left: 5.5%;
	width: 18%;
        height: 65%;
        padding: 0% 0% 0.1% 0.5%; //top, right, bottom, left
        min-height: 60%;
        background-color: #C34C4C;
	border: 1px;
	border-radius: 10px;
}

#img {
        margin: 2%;
	float: left;
	width: 35%;
	height: 45%;
        //width: 300px;
        //height: 300px;
	//border-radius: 10px;
        //background-color: red;
        position: relative;
}

#price {
       position: relative;
       text-align: center;
       margin: 2%;
       margin-left: -5%;
       float: left;
       //padding: 2%;
       width: 12%;
       height: 12%;
       border-radius: 10px;
       background-color: green;
}

#size {
       margin-top: 12%;
       text-align:center;
       margin-left: -14%;
       float: left;
       width: 12%;
       height: 12%;
       border-radius: 10px;
       background-color: blue;
       position: relative;
}

#cart {
       margin-top: 22%;
       text-align:center;
       margin-left: -14%;
       float: left;
       width: 12%;
       height: 12%;
       border-radius: 10px;
       background-color: silver; 
       position: relative;      
}

#desc {
       margin-left: 2%;
       margin-top: -6%;
       float: left;
       text-align:center;
       width: 66%;
       height: 38%;
       border-radius: 10px;
       background-color: gold;
       position: relative;
}

#footer {	
        clear: both;
	//margin-top: 6%;
	width: 90%;
	margin-left: 5%;
	border: 1px;
	border-radius: 5px;
        background-color: #A81D1D;
        color: #FFF;
        padding: 0.5% 0% 0.5% 0%;
	font-family: georgia;
	text-align: center;
	font-weight: bold;
	border: 0%;
        border-radius: 10px;
}

input {
        background-color: #f2f2f2;
        border: 0px solid #bdbdbd;
        border-radius: 7px; //to make corners more smooth and circular
        width: 100%;
}